<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.yuxy.myblog.mapper.SettingDAO">
    <select id="getAllSettings" resultType="com.yuxy.myblog.domain.Setting">
        SELECT * FROM `setting`
    </select>
    
    <insert id="addSetting" >
        INSERT INTO `setting` (`Item`, `Value`) VALUES(#{Item}, #{Value})
    </insert>
    
    <update id="setSetting">
        UPDATE `setting` SET `Value` = #{Value} WHERE `Item` = #{Item}
    </update>
    
    <select id="findSetting" resultType="java.lang.String">
        SELECT `Value` FROM `setting` WHERE `Item` = #{arg0}
    </select>
</mapper>